.App {
  text-align: center;
}
.product{
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
    width: 200px;
    transition: transform 0.2s;
}

.product1{
  display: flex;
  justify-content: center;
}
.product:hover{
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.925);
}
.product img{
  height: 200px;
  width: 200px;
}
.product button{
  border: 2px solid rgba(0, 0, 0, 0.267);
  color: white;
  background-color: rgb(50, 50, 165);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 2px;
}
.product button:hover{
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.925);
}
h3{
  border: none;
  margin: 20px 500px;
  padding: 20px 0px;
  background-color: rgb(9, 99, 29);
}
.product-b{
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
  width: 200px;
  transition: transform 0.2s;
}
.product-b:hover{
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.925);
}
.product-b img{
  height: 200px;
  width: 200px;
}
.product-b button{
  border: 2px solid rgba(0, 0, 0, 0.267);
  color: white;
  background-color: rgb(136, 17, 17);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 2px;
}
.product-b button:hover{
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.925);
}